.container {
  background-image: url('./a.jpg');
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin: 0;
}

.content {
  /* float: right; */
  width: 100%;
  height: auto;
  direction: rtl;
  margin-right: 10%;
  font-family: 'Noto Sans Thai UI';
  font-style: normal;
  line-height: 35px;
  font-size: 1.5em;
  position: absolute;
  color: #ffffff;
  top: 20%;
}

#text1 {
  margin-left: 5%;
}
#text2 {
  margin-right: 5%;
  margin-left: 5%;
}
.Search {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 100%;
  height: auto;
  position: fixed;
  top: 60%;
  direction: rtl;
  background-color: rgba(2, 2, 2, 0.63);
  padding: 5%;
  left: -10%;
}
.citySelect {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: 0px;
  padding: 0px 10px;
  display: flex;
  background-color: lightgray;
  color: gray;
  margin: 1%;
}
.plane {
  position: fixed;
  direction: rtl;
  top: 70%;
  right: 8%;
}
